.slider-product-proposal {
	font-family: "Montserrat", serif;
	line-height: 1.35;
	padding-top: 64px;
	padding-bottom: 32px;
	height: max-content;
}

.slider-product-proposal__container {
}

.slider-product-proposal__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;
}

.slider-product-proposal__title-wrapper {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider-product-proposal__title {
	display: inline;
	margin: 0;
	padding: 0 64px;
	font-family: inherit;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
	text-wrap: nowrap;
	color: #5f5a2a;
	background-color: #fff;
}

.slider-product-proposal__title-line {
	position: absolute;
	top: 50%;
	width: 96%;
	border: 1px solid #e9ebce;
	z-index: -1;
}

.slider-product-proposal__title-line:empty {
	display: block;
}

.tab-navigation {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 64px;
	padding: 10px 14px;
	margin: 0;
	border: 2.5px solid #5f5a2a;
	border-radius: 80px;
	list-style-type: none;
}

.tab-navigation li {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 16px 24px;
	border-radius: 60px;
	font-family: inherit;
	font-size: 20px;
	font-weight: 500;
	color: #727272;
	text-wrap: nowrap;
	transition: 0.1s linear background-color;
}

.tab-navigation li:hover {
	background-color: #fdffe0;
}

.tab-navigation li.active {
	color: #e9ebce;
	background-color: #37341c;
}

.tab-navigation li.active:hover {
	background-color: #2e2b17;
}

.tab-navigation li.active:active {
	background-color: #262413;
}

.slider-product-proposal__slider {
	padding-top: 136px;
}

.slider-product-proposal__slider-list {
	display: none;
	padding: 0;
}

.slider-product-proposal__slider-list.active {
	display: block;
}

.slider-product-proposal__slider-item {
	margin: 0 14px;
	overflow: hidden;
}

a.slider-item__link {
	display: block;
	position: absolute;
	width: 100%;
	height: 75%;
	z-index: 1;
	cursor: pointer;
}

a.slider-item__link:hover + .slider-item__image .slider-item__picture {
	transform: scale(1.05);
}

.slider-item__image {
	position: relative;
	width: 100%;
	aspect-ratio: 4 / 3;
	overflow: hidden;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 24px;
}

.slider-item__picture {
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: 0.2s linear transform;
}

.slider-product-proposal__badge {
	position: absolute;
	top: 20px;
	left: 16px;
	padding: 8px 12px;
	color: #e9ebce;
	border-radius: 48px;
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	z-index: 2;
}

.badge--sale {
	background-color: #ed363b;
}

.badge--sold-out {
	background-color: #37341c;
}

.slider-item__content {
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.slider-item__title {
	font-family: inherit;
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}

.slider-item__description {
	font-family: inherit;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.52;
	color: #727272;
	margin-top: 8px;
}

.slider-item__price {
	display: flex;
	justify-content: space-between;
}

.slider-item__rating {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 20px 0 16px;
	text-align: right;
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	color: #939c38;
}

.slider-item__price {
	margin-bottom: 24px;
}

.slider-item__money {
	font-family: inherit;
	font-size: 24px;
	font-weight: 700;
	color: #89960c;
}

.slider-item__options {
	max-width: 50%;
	padding: 8px 10px;
	border: none;
	border-radius: 8px;
	background-color: #eceae0;
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	color: #37341c;
	outline: none;
}

.slider-item__submit_button {
	width: 100%;
	padding: 12px 0;
	background-color: #939c38;
	color: #fcfcfc;
	border-radius: 50px;
	border: none;
	font-family: inherit;
	font-size: 18px;
	font-weight: 600;
	transition: 0.1s linear background-color;
}

.slider-item__submit_button:hover {
	background-color: #899134;
}

.slider-item__submit_button:active {
	background-color: #7b822f;
}

.slider-item__submit_button::after {
	display: none;
}

.submit_button__icon {
	margin-right: 12px;
}

@media screen and (max-width: 1024px) {
	.slider-product-proposal__content {
		gap: 48px;
	}

	.slider-product-proposal__title {
		font-size: 34px;
		padding: 0 24px;
	}

	.tab-navigation {
		gap: 6px;
	}

	.tab-navigation li {
		padding: 12px 16px;
		border-radius: 60px;
		font-family: inherit;
		font-size: 18px;
	}

	.slider-product-proposal__slider {
		padding-top: 112px;
	}

	.slider-product-proposal__slider-item {
		margin: 0 10px;
	}

	.slider-item__content {
		height: 340px;
	}

	.slider-item__submit_button {
		padding: 9px 0;
	}

	.submit_button__icon {
		width: 24px;
		height: 24px;
	}

	.slider-product-proposal__badge {
		top: 20px;
		left: 16px;
		padding: 6px 8px;
		font-size: 12px;
	}
}

@media screen and (max-width: 768px) {
	.tab-navigation {
		flex-direction: column;
		border-radius: 34px;
		padding: 12px;
	}

	.slider-product-proposal__slider {
		padding-top: 40px;
	}

	.slick-slider button.slick-arrow {
		visibility: hidden;
		width: 0;
		height: 0;
	}
}

@media screen and (max-width: 576px) {
	.slider-product-proposal__content {
		gap: 32px;
	}

	.slider-product-proposal__title {
		font-size: 24px;
	}
}

/* Slick slider */
.slick-slider .slick-arrow {
	position: absolute;
	display: block;
	top: -96px;
	height: 48px;
	width: 48px;
	font-size: 0;
	overflow: hidden;
	background-color: #939c38;
	color: #fcfcfc;
	z-index: 1;
	border: none;
	outline: none;
	border-radius: 100%;
	cursor: pointer;
	transition: 0.1s linear background-color;
}

.slick-slider .slick-arrow:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 24px;
	height: 24px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.slick-slider .slick-prev {
	right: 96px;
}

.slick-slider .slick-prev::before {
	background-image: url("../assets/arrow_left.svg");
}

.slick-slider .slick-next {
	right: 24px;
}

.slick-slider .slick-next::before {
	background-image: url("../assets/arrow_right.svg");
}

.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover {
	background-color: #899134;
}

.slick-slider .slick-prev:active,
.slick-slider .slick-next:active {
	background-color: #7b822f;
}
